@import url('https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Now you can use Roboto font in your CSS styles */
body,* {
  font-family: 'Roboto', sans-serif !important;
}

.hidden {
  display: none;
}

.grid {
  display: grid !important;
  grid-template-columns: var(--grid-template-columns) !important;
  gap: var(--grid-gap) !important;
}

body {
  font-family: var(--body-font-family) !important;
  background-color: var(--background-color) !important;
  overflow: var(--overflow-setting) !important;
  padding: var(--body-padding) !important;
}

body > header {
  padding-top: var(--header-padding-top) !important;
  padding-bottom: var(--header-padding-bottom) !important;
  height: 50px !important; /* Adjust this value as needed */
}

header {
  height: 50px; /* Adjust as needed */
}

nav.container-fluid {
  height: 50px; /* Adjust this value as needed */
}

/* Header Container */
.container-fluid {
  display: flex !important;
  justify-content: var(--container-fluid-justify) !important;
  padding: 0px !important;
}

.solo-scribe {
  padding-left: 10px; /* Adjust as needed */
  color: var(--solo-scribe-color);
  font-size: 14px; /* Adjust as needed */
  top: 5px;
}

#newTranButton{
  position: relative;
  top: -15px;
}

#mainContainer {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important; /* This will center it vertically */
  position: relative !important;
  width: var(--mainContainer-width) !important;
  max-height: 100vh !important; /* limit the height to the viewport height */
  width: calc(100% - 250px) !important;
  overflow: auto !important;
  border-radius: 10px !important;
  padding: 20px !important;
  box-sizing: border-box !important;
  overflow: hidden !important;
  left: 250px !important;
  margin-top: 0px !important; /* Adjust the margin-top to create space for trans-controls */
}

#mainContainer #newTranscription {
  width: 100% !important;
  height: 100% !important;
  background-color: var(--transcription-bg-color) !important;
  border-radius: 11px !important;
  min-height: 85vh !important;
  padding: 20px !important;
  border: 2px solid var(--file-upload-border-color) !important;
}

#individualTranscription {
  overflow-y: auto !important;
  max-height: 70vh !important; /* limit the height to 70% of the viewport height */
  
}

#mainContainer #individualTranscription {
  width: 100% !important;
  height: 70% !important;
  background-color: var(--individual-transcription-bg-color) !important;
  border-radius: 11px !important;
  min-height: 85vh !important;
  padding: 20px !important;
  padding-top: 70px !important;
  border: 2px solid var(--file-upload-border-color) !important;
  overflow-y: auto !important;
}


#mainContainer #settings {
  width: 100% !important;
  height: 100% !important;
  background-color: var(--settings-bg-color) !important;
  border-radius: 11px !important;
  min-height: 85vh !important;
  padding: 20px !important;
  border: 5px solid var(--file-upload-border-color) !important;
}


.trans-controls {
  display: flex ;
  align-self: flex-start !important;
  max-width: auto !important;
  justify-content: space-between !important;
  align-items: center !important;
  flex-direction: row !important; /* This will make the buttons layout horizontally */
  flex-wrap: wrap !important; /* This will make the buttons wrap to a new line if there's not enough space */
  z-index: 10000 !important;
  margin-right: 35px !important;
  position: absolute !important;
  top: 6.5% !important; /* Adjust the top position to move the trans-controls element */
  left: 79% !important;
  width: 250px !important;
}


.trans-controls button {
  border-radius: 50% !important;
  width: 50px !important;
  height: 50px !important;
  margin: 4px 5px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  white-space: nowrap; /* This prevents the button text from wrapping onto multiple lines */
  overflow: hidden !important; /* This hides any text that overflows the button */
  text-overflow: ellipsis !important; /* This adds an ellipsis (...) to any text that overflows the button */
  position: relative !important;
  top: 20px !important;

}



.clipboard-notification {
  position: fixed;
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #adadad;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 1000;
}

.solo-scribe {
  padding-left: 280px;
  color: var(--solo-scribe-color);
  font-size: 14px; /* Adjust as needed */
}

.container-fluid {
  display: flex;
  justify-content: center;
  padding: 0;
}

.container-fluid ul {
  padding: 0;
  margin: 0;
}

.container-fluid ul li {
  font-size: 18px; /* Adjust as needed */
}

.transcription-controls {
  display: flex;
  justify-content: center;
  padding: var(--transcription-controls-padding);
}

.transcription-controls button {
  flex-basis: calc(25% - 10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 5px;
  padding: 5px;
  text-align: left;
  background-color: #ffffff;
  border: 2px solid var(--file-upload-border-color);
  color: var(--primary);
  font-size: 12px; /* Adjust as needed */
}

.transcription-controls button i {
  font-size: 12px; /* Adjust as needed */
}

.transcription-controls button img {
  width: 70px;
  height: auto;
  margin-bottom: 4px;
  padding: 10px;
}

.upload-section {
  text-align: var(--upload-section-text-align) !important;
}

.file-upload-wrapper {
  display: var(--file-upload-wrapper-display) !important;
  width: var(--file-upload-wrapper-width) !important;
  margin-top: var(--file-upload-wrapper-margin-top) !important;
  border: var(--file-upload-wrapper-border) !important;
  border-radius: var(--file-upload-wrapper-border-radius) !important;
  padding: var(--file-upload-wrapper-padding) !important;
  background-color: var(--file-upload-wrapper-bg-color) !important;
}

.file-upload-label {
  display: var(--file-upload-label-display) !important;
  padding: var(--file-upload-label-padding) !important;
  cursor: var(--file-upload-label-cursor) !important;
  background-color: var(--file-upload-label-bg-color) !important;
  border-radius: var(--file-upload-label-border-radius) !important;
  color: var(--file-upload-label-color) !important;
  transition: var(--file-upload-label-transition) !important;
}


.file-upload-instructions {
  font-size: var(--file-upload-instructions-font-size) !important;
  color: var(--file-upload-instructions-color) !important;
  margin-top: var(--file-upload-instructions-margin-top) !important;
}

#file-list {
  font-family: 'Verdana', sans-serif !important;
  font-size: 1.2rem !important;
  margin-top: 10px !important;
  border: 1px solid var(--file-list-border-color) !important;
  padding: 10px !important;
  background-color: var(--file-list-bg-color) !important;
}

#file-list div:nth-child(odd) {
  background-color: var(--file-list-alt-bg-color) !important;
}

#file-list div {
  border-bottom: 1px solid #eee !important;
  padding: 8px 10px !important;
  font-size: 14px !important;
  color: var(--file-list-text-color) !important;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}

#file-list div:last-child {
  border-bottom: none !important;
}

.trashcan {
  color: var(--trashcan-color) !important;
  cursor: pointer !important;
  margin-left: 10px !important;
}



.trans-list {
  width: 100% !important;
  padding: 0 !important;
  height: 30% !important; 
  line-height: 1.2 !important;
}

#transcriptions-list {
  height: calc(100% - 100px) !important;
  overflow: visible !important;
  margin: 0 !important;
}

.trans-list a {
  display: block !important;
  padding: 5px !important;
  text-decoration: none !important;
  color: black !important;
  font-size: .75em !important;
}

.trans-list a:last-child {
  border-bottom: none !important;
}

.trans-list a:hover {
  background-color: #f5f5f5 !important;
}


.dropdown {
  position: absolute;
  display: inline-block;
  z-index: 1000; /* Ensure the dropdown is above other elements */
}

/* Target the ellipsis within the dropdown */
.dropdown i.fa-ellipsis-vertical {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 200px;
  margin-top: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1001; /* Ensure the dropdown is above the dropdown button */
  left: 0; /* Reset the left property */
  right: auto; /* Align the dropdown to the right of the container */
  top: 100%; /* Position the dropdown below the container */
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Style for the buttons in the dropdown */
.dropdown-content button {
  background-color: #f9f9f9;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border: none;
  width: 100%;
  text-align: left;
}

.dropdown-content button:hover {
  background-color: #f1f1f1;
}

.summary-text {
  font-size: 16px;
  line-height: 1.5;
}

.summary-text h1, .summary-text h2, .summary-text h3 {
  font-size: 24px;
  font-weight: bold;
}

.summary-text strong {
  font-weight: bold;
}

.summary-text em {
  font-style: italic;
}


button {
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  padding: 16px 40px !important;
  background-color: #fff;
  color: #1774ff;
  box-shadow: 0 2px 6px rgba(170, 190, 208, .3);
  font-family: Gilroy, Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  cursor: pointer;
  white-space: nowrap;
  border-radius: 100px;
  text-decoration: none;
  margin: 0;
}
button:hover {
  background: linear-gradient(0deg,rgba(0,0,0,.1),rgba(0,0,0,.1)),#fff;
}
label.file-upload-label {
  background: #f2f5f7 !important;
}label.file-upload-label:hover {
  background: #bebfc0 !important;
}
#profileData{
  display: flex;
  align-items: center;
  gap: 10px;
}
div#userInfo {
  font-size: 12px;
  color: black !important;
}